$mainRed: #c70101;
$maxWidth: 970px;

@mixin borderblack {
  outline: 1px solid black;
}

@mixin borderblue {
  outline: 1px solid blue;
}

@mixin bordergreen {
  outline: 3px dashed green;
}

@mixin container {
  max-width: $maxWidth;
  margin: 0 auto;
}
