.quote {
  width: 100%;
  min-height: 500px;
  margin: 0;
  margin-bottom: 150px;
  padding: 0;
  padding-top: 128px;
  background: url("../img/quote.jpg") center center/cover no-repeat;
  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 675px;
    color: $mainWhite;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .quote {
    min-height: auto;
    padding: 35px 10px;
    margin-bottom: 100px;
    &__text {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

@media (max-width: 510px) {
  .quote {
    margin-bottom: 50px;
  }
  .quote__text {
    font-size: 22px;
    line-height: 28px;
  }
}
